.div1 {
    display: block;
    color: brown;
    margin-left: 25%;
}
.div1 p {
    display: block;
    margin-left: 16%;
}

.div2 {
   height: 100px;
   width: 50px;
   margin-left: 25%;
}
.div3 {
    margin-left: 25%;
    color: blueviolet;
}
.myfooter li {
    display: inline;
    position: absolute;
    margin-bottom: 0ch;
}
#navbar li {
    display: inline;
    position: fixed;

}
.div3:hover {
    margin: 2px;
    border-radius: 60deg;
    background-color: brown;
    margin-left: 25%;
    color: blueviolet;
}