.body {
    /* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> */
font-family: 'Montserrat', sans-serif;
}
.div1 {
    display: block;
    color: brown;
    text-align: center;
}
.div1 p {
    display: block;
    text-align: center;
}
.div2 {
   margin-left: 100px;
}

.div2 img {
   height: 400px;
   width: 800px;
  /* align-content: center; */
}
.div3 {
    text-align: center;
    color: rgb(248, 212, 8);
    border-style: solid;
    
    background-color: azure;
    border-radius: 2px solid;
}
.myfooter li {
    display: inline;
}
.myfooter {
    display: inline;
    position: fixed;
    margin-bottom: 0ch;
}
#navbar {
    display: inline;
    position: fixed;
}
#navbar li {
    display: inline;

}
.div3:hover {
    border-radius: 5px;
    border-style: solid;
    border-color: blueviolet;
}
.div1:hover {
    border-radius: 5px;
    border-style: solid;
}
.mysection {
    border-radius: 10px;
    background-color: bisque;
}
.mysection p {
   margin-left: 50px;
   margin-top: 50px;

}